body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: green;
}

.amarelo {
    border-left: 10vh solid transparent;
    border-right: 10vh solid transparent;
    border-bottom: 10vh solid yellow;
    border-top: 10vh solid yellow;
}

* {
    padding: 0;
    margin: 0;
}