body {
    width: 50vh;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: red;
}

* {
    margin: 0;
    padding: 0;
}